@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');



$purple: #8A4D76;

$family-sans-serif: 'Dhurjati', sans-serif;
$primary: $purple;

@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/utilities/_all.sass";
